<section class="orders-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= @order.email %>!</h4>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Line Total</th>
          <th>Order Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @order.line_items.each do |item|  %>
            <td>
              <%= image_tag item.product.image.thumb %>
              <section>
                <%= item.product.name %>
              </section>
              <section>  
                <%= item.product.description %>
              </section>
            </td>  
            <td><%= item.quantity %></td>
            <td><%= item.total_price_cents %></td>
          <% end %>
            <td><%= @order.total %></td>    
        </tr>    
      </tbody>  
    </table> 

  </div>


  

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
